In [1]:
from pyspark.sql import SparkSession
spark = SparkSession \
.builder \
.appName("Python Spark create RDD example") \
.config("spark.some.config.option", "some-value") \
.getOrCreate()

In [2]:
import pandas as pd

In [3]:
dp = pd.read_json("http://api.luftdaten.info/static/v1/data.json")

In [4]:
dp

,id,sampling_rate,timestamp,location,sensor,sensordatavalues
0,5226389277,NaN,2021-05-21 08:29:02,"{'id': 29322, 'latitude': '-33.67297030983', '...","{'id': 43722, 'pin': '1', 'sensor_type': {'id'...","[{'id': 11403581044, 'value': '7', 'value_type..."
1,5226389276,NaN,2021-05-21 08:29:02,"{'id': 45770, 'latitude': '51.07770890000', 'l...","{'id': 59912, 'pin': '1', 'sensor_type': {'id'...","[{'id': 11403581047, 'value': '24.70', 'value_..."
2,5226389275,NaN,2021-05-21 08:29:02,"{'id': 30652, 'latitude': '47.61994715000', 'l...","{'id': 44915, 'pin': '1', 'sensor_type': {'id'...","[{'id': 11403581036, 'value': '3.3', 'value_ty..."
3,5226389274,NaN,2021-05-21 08:29:02,"{'id': 17916, 'latitude': '51.516', 'longitude...","{'id': 31284, 'pin': '1', 'sensor_type': {'id'...","[{'id': 11403581037, 'value': '15.47', 'value_..."
4,5226389273,NaN,2021-05-21 08:29:02,"{'id': 33376, 'latitude': '51.306', 'longitude...","{'id': 23321, 'pin': '11', 'sensor_type': {'id...","[{'id': 11403581031, 'value': '16.59', 'value_..."
...,...,...,...,...,...,...
56659,5226332136,NaN,2021-05-21 08:23:53,"{'id': 5561, 'latitude': '52.04', 'longitude':...","{'id': 11017, 'pin': '11', 'sensor_type': {'id...","[{'id': 11403454318, 'value': '-144.06', 'valu..."
56660,5226332134,NaN,2021-05-21 08:23:53,"{'id': 43001, 'latitude': '46.09950934032', 'l...","{'id': 57127, 'pin': '11', 'sensor_type': {'id...","[{'id': 11403454309, 'value': '16.9', 'value_t..."
56661,5226332133,NaN,2021-05-21 08:23:53,"{'id': 22218, 'latitude': '51.22535500000', 'l...","{'id': 36172, 'pin': '7', 'sensor_type': {'id'...","[{'id': 11403454305, 'value': '13.20', 'value_..."
56662,5226332132,NaN,2021-05-21 08:23:53,"{'id': 19631, 'latitude': '50.87423808414', 'l...","{'id': 33259, 'pin': '7', 'sensor_type': {'id'...","[{'id': 11403454293, 'value': '15.60', 'value_..."
56663,5226332130,NaN,2021-05-21 08:23:53,"{'id': 3138, 'latitude': '52.55', 'longitude':...","{'id': 6210, 'pin': '7', 'sensor_type': {'id':...","[{'id': 11403454297, 'value': '21.10', 'value_..."

In [5]:
ds = spark.read.json('data/data.json')

In [6]:
ds.show()

+----------+--------------------+-------------+--------------------+--------------------+-------------------+
|        id|            location|sampling_rate|              sensor|    sensordatavalues|          timestamp|
+----------+--------------------+-------------+--------------------+--------------------+-------------------+
|5199713208|{19.7, BE, 0, 205...|         null|{34249, 7, {9, va...|[{11344370230, 20...|2021-05-19 14:44:02|
|5199713206|{5.0, DE, 0, 5987...|         null|{11856, 11, {17, ...|[{11344370225, 10...|2021-05-19 14:44:02|
|5199713205|{230.8, DE, 0, 16...|         null|{30133, 1, {14, N...|[{11344370228, 4....|2021-05-19 14:44:02|
|5199713204|{404.6, IT, 0, 32...|         null|{46282, 1, {14, N...|[{11344370223, 0....|2021-05-19 14:44:02|
|5199713203|{278.0, DE, 1, 23...|         null|{15278, 11, {17, ...|[{11344370215, 14...|2021-05-19 14:44:02|
|5199713202|{186.0, RU, 0, 42...|         null|{56333, 1, {14, N...|[{11344370217, 19...|2021-05-19 14:44:02|
|5199713201|{164.3, AT, 0, 34...|         null|{48602, 1, {14, N...|[{11344370209, 0....|2021-05-19 14:44:02|
|5199713200|{155.1, DE, 1, 39...|         null|{53258, 11, {17, ...|[{11344370207, 23...|2021-05-19 14:44:02|
|5199713199|{71.5, IT, 0, 261...|         null|{23428, 1, {14, N...|[{11344370210, 0....|2021-05-19 14:44:02|
|5199713198|{529.3, DE, 0, 34...|         null|{48562, 1, {14, N...|[{11344370202, 8....|2021-05-19 14:44:02|
|5199713197|{95.3, PL, 0, 469...|         null|{61076, 1, {14, N...|[{11344370205, 10...|2021-05-19 14:44:02|
|5199713196|{23.8, FI, 0, 441...|         null|{32127, 7, {9, va...|[{11344370204, 17...|2021-05-19 14:44:02|
|5199713195|{319.7, AT, 0, 24...|         null|{38436, 7, {9, va...|[{11344370193, 20...|2021-05-19 14:44:02|
|5199713194|{3.9, NL, 1, 4783...|         null|{59924, 1, {14, N...|[{11344370196, 1....|2021-05-19 14:44:02|
|5199713193|{219.1, DE, 0, 20...|         null|{435, 7, {9, vari...|[{11344370194, 17...|2021-05-19 14:44:02|
|5199713192|{60.9, PL, 1, 408...|         null|{54939, 1, {14, N...|[{11344370190, 2....|2021-05-19 14:44:02|
|5199713191|{577.5, IT, 1, 12...|         null|{24769, 1, {14, N...|[{11344370197, 5....|2021-05-19 14:44:02|
|5199713190|{199.7, DE, 0, 21...|         null|{35704, 11, {17, ...|[{11344370187, 23...|2021-05-19 14:44:02|
|5199713189|{462.5, DE, 0, 64...|         null|{1294, 1, {14, No...|[{11344370188, 4....|2021-05-19 14:44:02|
|5199713188|{3.6, NL, 1, 4573...|         null|{59865, 11, {17, ...|[{11344370192, 19...|2021-05-19 14:44:02|
+----------+--------------------+-------------+--------------------+--------------------+-------------------+
only showing top 20 rows

In [7]:
ds[['id','timestamp']].show(4)

+----------+-------------------+
|        id|          timestamp|
+----------+-------------------+
|5199713208|2021-05-19 14:44:02|
|5199713206|2021-05-19 14:44:02|
|5199713205|2021-05-19 14:44:02|
|5199713204|2021-05-19 14:44:02|
+----------+-------------------+
only showing top 4 rows

In [8]:
ds.columns

['id', 'location', 'sampling_rate', 'sensor', 'sensordatavalues', 'timestamp']

In [9]:
ds.dtypes

[('id', 'bigint'),
 ('location',
  'struct<altitude:string,country:string,exact_location:bigint,id:bigint,indoor:bigint,latitude:string,longitude:string>'),
 ('sampling_rate', 'bigint'),
 ('sensor',
  'struct<id:bigint,pin:string,sensor_type:struct<id:bigint,manufacturer:string,name:string>>'),
 ('sensordatavalues',
  'array<struct<id:bigint,value:string,value_type:string>>'),
 ('timestamp', 'string')]

In [10]:
drop_name = ['location','sensor']

In [11]:
ds.drop(*drop_name).show()

+----------+-------------+--------------------+-------------------+
|        id|sampling_rate|    sensordatavalues|          timestamp|
+----------+-------------+--------------------+-------------------+
|5199713208|         null|[{11344370230, 20...|2021-05-19 14:44:02|
|5199713206|         null|[{11344370225, 10...|2021-05-19 14:44:02|
|5199713205|         null|[{11344370228, 4....|2021-05-19 14:44:02|
|5199713204|         null|[{11344370223, 0....|2021-05-19 14:44:02|
|5199713203|         null|[{11344370215, 14...|2021-05-19 14:44:02|
|5199713202|         null|[{11344370217, 19...|2021-05-19 14:44:02|
|5199713201|         null|[{11344370209, 0....|2021-05-19 14:44:02|
|5199713200|         null|[{11344370207, 23...|2021-05-19 14:44:02|
|5199713199|         null|[{11344370210, 0....|2021-05-19 14:44:02|
|5199713198|         null|[{11344370202, 8....|2021-05-19 14:44:02|
|5199713197|         null|[{11344370205, 10...|2021-05-19 14:44:02|
|5199713196|         null|[{11344370204, 17...|2021-05-19 14:44:02|
|5199713195|         null|[{11344370193, 20...|2021-05-19 14:44:02|
|5199713194|         null|[{11344370196, 1....|2021-05-19 14:44:02|
|5199713193|         null|[{11344370194, 17...|2021-05-19 14:44:02|
|5199713192|         null|[{11344370190, 2....|2021-05-19 14:44:02|
|5199713191|         null|[{11344370197, 5....|2021-05-19 14:44:02|
|5199713190|         null|[{11344370187, 23...|2021-05-19 14:44:02|
|5199713189|         null|[{11344370188, 4....|2021-05-19 14:44:02|
|5199713188|         null|[{11344370192, 19...|2021-05-19 14:44:02|
+----------+-------------+--------------------+-------------------+
only showing top 20 rows

In [7]:
##JOIN
from pyspark.conf import SparkConf
from pyspark.context import SparkContext
from pyspark.sql import SparkSession
import pandas as pd

In [8]:
spark = SparkSession \
.builder \
.appName("Python Spark create RDD example") \
.config("spark.some.config.option", "some-value") \
.getOrCreate()
# sc= SparkContext('local','example')
# hc = HiveContext(sc)

In [9]:
leftp = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
'B': ['B0', 'B1', 'B2', 'B3'],
'C': ['C0', 'C1', 'C2', 'C3'],
'D': ['D0', 'D1', 'D2', 'D3']},
index=[0, 1, 2, 3])
rightp = pd.DataFrame({'A': ['A0', 'A1', 'A6','A7'],
'F': ['B4', 'B5', 'B6','B7'],
'G': ['C4', 'C5', 'C6','C7'],
'H': ['D4', 'D5', 'D6','D7']},
index=[4, 5, 6, 7])

lefts = spark.createDataFrame(leftp)
rights = spark.createDataFrame(rightp)

In [10]:
leftp

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [11]:
rightp

    A   F   G   H
4  A0  B4  C4  D4
5  A1  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [12]:
lefts.show()

+---+---+---+---+
|  A|  B|  C|  D|
+---+---+---+---+
| A0| B0| C0| D0|
| A1| B1| C1| D1|
| A2| B2| C2| D2|
| A3| B3| C3| D3|
+---+---+---+---+

In [13]:
rights.show()

+---+---+---+---+
|  A|  F|  G|  H|
+---+---+---+---+
| A0| B4| C4| D4|
| A1| B5| C5| D5|
| A6| B6| C6| D6|
| A7| B7| C7| D7|
+---+---+---+---+

In [14]:
fr=lefts.join(rights,on='A',how='left')

In [15]:
fr.show()

+---+---+---+---+----+----+----+
|  A|  B|  C|  D|   F|   G|   H|
+---+---+---+---+----+----+----+
| A2| B2| C2| D2|null|null|null|
| A0| B0| C0| D0|  B4|  C4|  D4|
| A3| B3| C3| D3|null|null|null|
| A1| B1| C1| D1|  B5|  C5|  D5|
+---+---+---+---+----+----+----+

In [30]:
ds.show()

+----+----+----+
|col1|col2|col3|
+----+----+----+
|   a|   2|   3|
|   b|   5|   6|
|   c|   8|   9|
|   a|   2|   3|
|   b|   5|   6|
|   c|   8|   9|
+----+----+----+

In [19]:
my_list = [('a', 2, 3),
('b',  5, 6),
('c', 8, 9),
('a', 2, 3),
('b', 5, 6),
('c', 8, 9)] 
col_name = ['col1', 'col2', 'col3']
#
dp = pd.DataFrame(my_list,columns=col_name)
ds = spark.createDataFrame(my_list,schema=col_name)

In [20]:
dp

  col1  col2  col3
0    a     2     3
1    b     5     6
2    c     8     9
3    a     2     3
4    b     5     6
5    c     8     9

In [21]:
ds.show()

+----+----+----+
|col1|col2|col3|
+----+----+----+
|   a|   2|   3|
|   b|   5|   6|
|   c|   8|   9|
|   a|   2|   3|
|   b|   5|   6|
|   c|   8|   9|
+----+----+----+

In [22]:
dp['concat'] = dp.apply(lambda x:'%s%s'%(x['col1'],x['col2']),axis=1)

In [26]:
ds.show()

+----+----+----+
|col1|col2|col3|
+----+----+----+
|   a|   2|   3|
|   b|   5|   6|
|   c|   8|   9|
|   a|   2|   3|
|   b|   5|   6|
|   c|   8|   9|
+----+----+----+

In [32]:
data = [('James','','Smith','1991-04-01','M',3000),
  ('Michael','Rose','','2000-05-19','M',4000),
  ('Robert','','Williams','1978-09-05','M',4000),
  ('Maria','Anne','Jones','1967-12-01','F',4000),
  ('Jen','Mary','Brown','1980-02-17','F',-1)
]

columns = ["firstname","middlename","lastname","dob","gender","salary"]
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()
df = spark.createDataFrame(data=data, schema = columns)

In [33]:
df.show()

+---------+----------+--------+----------+------+------+
|firstname|middlename|lastname|       dob|gender|salary|
+---------+----------+--------+----------+------+------+
|    James|          |   Smith|1991-04-01|     M|  3000|
|  Michael|      Rose|        |2000-05-19|     M|  4000|
|   Robert|          |Williams|1978-09-05|     M|  4000|
|    Maria|      Anne|   Jones|1967-12-01|     F|  4000|
|      Jen|      Mary|   Brown|1980-02-17|     F|    -1|
+---------+----------+--------+----------+------+------+

In [41]:
df.withColumn("salary",col=("salary").cast("Integer")).show()

AttributeError: 'str' object has no attribute 'cast'